<div class="row">
  <div class="col-md-10">
    <h1>Welcome to the shop!</h1>
  </div>
  <div class="col-md-2">
    Total cash available:
    <span class="total-amount text-success">{{ (depositAmount / 100) | currency:'EUR':'symbol': '1.2-2' }}</span>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <vending-machine-product-list [products]="products" [showManagementButtons]="false" [showPurchaseButtons]="true"
          (purchaseProduct)="purchaseProduct($event)"></vending-machine-product-list>
      </div>
    </div>
  </div>
</div>


